@import '../../_app-variables.scss';

.misc-tile {
  height: 80;
  padding: 10;
  margin: 10;
  border-radius: 5;
}

.misc-itemtitle {
  font-size: 25;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.misc-icon {
  font-family: "FontAwesome";
  font-size: 40;
  color: white;
}