<ActionBar title="Misc" class="action-bar">
</ActionBar>

<GridLayout>
  <ListView [items]="data" class="list-group" separatorColor="white">
    <ng-template let-item="item" let-i="index">
      <GridLayout [class]="item.className + ' misc-tile'" columns="3*, *" rows="*" (tap)="navigate(item.path)">
        <Label row="0" col="0" [text]="item.name" class="misc-itemtitle"></Label>
        <Label row="0" col="1" [text]="item.icon" horizontalAlignment="right" class="misc-icon"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</GridLayout>
