@import '../../_app-variables.scss';

.card {
  background-color: #fff;
  color: #4d4d4d;
  margin: 15 15 0;
}
.card-layout {
  padding: 40;
}
.misc-icon {
  font-size: 30;
  padding-right: 30;
}
.card-layout .h1 {
  margin-bottom: 15;
}