<GridLayout class="page page-content" rows="80 *">
  <GridLayout row="0" columns="* * *">
    <Label col="0" text="&#xea74;" class="icon backIcon" (tap)="goBack()"></Label>
    <StackLayout col="1" horizontalAlignment="center" verticalAlignment="center">
      <Label class="title" [text]="title"></Label>
    </StackLayout>
  </GridLayout>
  <StackLayout row="1" class="transaction-list">
    <app-transactions-list *ngIf="!_isLoading" [transactions]="transactions"></app-transactions-list>
    <Loading *ngIf="_isLoading"></Loading>
  </StackLayout>
</GridLayout>
