<ActionBar title="Expense Overview" class="action-bar">
  <ActionItem text="Home" ios.position="right" android.position="popup" [nsRouterLink]="['/home']" clearHistory="true"></ActionItem>
</ActionBar>

<WrapLayout orientation="horizontal" horizontalAlignment="center">
  <GridLayout *ngFor="let categoryExpense of expenseOverview" columns="*" rows="*, 2*" [class]="categoryExpense['tileClass'] + ' category-box'" >
    <GridLayout col="0" row="0" columns="2*, *" rows="*">
      <Label [text]="categoryExpense['name']" horizontalAlignment="left" col="0" row="0" class="category-box-description"></Label>
      <Label [text]="categoryExpense['icon']" horizontalAlignment="right" col="1" row="0" class="category-box-icon"></Label>
    </GridLayout>
    <Label col="0" row="1" [text]="categoryExpense['total']" class="category-box-number"></Label>
  </GridLayout>

  <ActivityIndicator rowSpan="3" [busy]="_isLoading"></ActivityIndicator>
</WrapLayout>