@import '../../../_app-variables.scss';

.category-box {
  width: 45%;
  height: 100;
  text-align: left;
  margin: 5;
  padding: 10;
  border-radius: 5;
}

.category-box-description {
  font-size: 15;
}

.category-box-icon {
  font-family: "FontAwesome";
  font-size: 20;
}

.category-box-number {
  font-size: 20;
}

.category-box-number, .category-box-description {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
