<!-- The side drawer -->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerContentSize="280">
  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer">
    <StackLayout row="0" class="sidedrawer-header">
      <Image class="sidedrawer-header-image" src="~/images/avatar.png"></Image>

      <Label class="sidedrawer-header-name" text="Brikend Rama"></Label>
    </StackLayout>

    <GridLayout row="1" rows="*, auto, 80" class="sidedrawer-body">
      <ScrollView row="0">
        <StackLayout class="sidedrawer-menu">
          <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')"
            (tap)="onNavItemTap('/home')">
            <Label col="0" text="&#xec5e;" class="icon"></Label>
            <Label col="1" text="Transactions" class="p-r-10"></Label>
          </GridLayout>

          <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/stats')"
            (tap)="onNavItemTap('/stats')">
            <Label col="0" text="&#xeeaf;" class="icon"></Label>
            <Label col="1" text="Stats" class="p-r-10"></Label>
          </GridLayout>

          <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/bills')"
            (tap)="onNavItemTap('/bills')">
            <Label col="0" text="&#xecda;" class="icon"></Label>
            <Label col="1" text="Bills" class="p-r-10"></Label>
          </GridLayout>

          <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/profile')"
            (tap)="onNavItemTap('/profile')">
            <Label col="0" text="&#xef4a;" class="icon"></Label>
            <Label col="1" text="Profile" class="p-r-10"></Label>
          </GridLayout>
        </StackLayout>
      </ScrollView>

      <GridLayout row="2" columns="10, 130, 130, 10" class="sidedrawer-language">
        <Label col="1" text="Logout" class="selected" (tap)="logout()"></Label>
      </GridLayout>
    </GridLayout>
  </GridLayout>

  <GridLayout rows="*, auto" class="page" tkMainContent>
    <StackLayout row="0">
      <page-router-outlet></page-router-outlet>
    </StackLayout>

    <app-bottom-navigation *ngIf="isUserLogged" row="1"></app-bottom-navigation>
  </GridLayout>
</RadSideDrawer>
