<!-- <ActionBar class="action-bar">
  <Label class="action-bar-title" text="Bills" horizontalAlignment="center"></Label>
  <ActionItem *ngIf="!pendingBillsView" (tap)="newBillScreen()" text="Add" ios.systemIcon="4" ios.position="right" android.position="popup"></ActionItem>
</ActionBar> -->

<GridLayout class="page page-content" rows="80 *">
  <GridLayout row="0" columns="* * *">
    <StackLayout col="1" horizontalAlignment="center" verticalAlignment="center">
      <Label class="title" text="Bills"></Label>
    </StackLayout>
  </GridLayout>
  <GridLayout row="1" rows="*" backgroundColor="yellow">
    <ListView row="0" *ngIf="!pendingBillsView" [items]="bills" separatorColor="white">
      <ng-template let-bill="item" let-i="index" let-odd="odd" let-even="even">
        <CardView class="Bill-Card" shadowColor="#f1f5f8" shadowRadius="1" shadowOpacity="1" elevation="5" radius="5">
          <FlexboxLayout class="Bill-Card-Wrapper" flexDirection="row" alignItems="center"
            justifyContent="space-between" (tap)="editBill(bill.id)">
            <StackLayout>
              <Label class="h3-txt" [text]="bill.name"></Label>
              <Label class="h1-txt" [text]="bill.amount + ' NOK'"></Label>
            </StackLayout>
            <StackLayout>
              <Label class="h3-txt" text="Due Day"></Label>
              <Label class="h1-txt" [text]="bill.deadlineDay"></Label>
            </StackLayout>
          </FlexboxLayout>
        </CardView>
      </ng-template>
    </ListView>
    
    <!-- Pending Bill List -->
    <ListView *ngIf="pendingBillsView" [items]="bills" separatorColor="white">
      <ng-template let-bill="item" let-i="index" let-odd="odd" let-even="even">
        <CardView class="Bill-Card" shadowColor="#f1f5f8" shadowRadius="1" shadowOpacity="1" elevation="5" radius="10" height="100">
          <FlexboxLayout class="Bill-Card-Wrapper" flexDirection="row" alignItems="center" justifyContent="space-between"
            (tap)="editBill(bill.id)">
            <StackLayout>
              <Label class="h3-txt" [text]="bill.name"></Label>
              <Label class="h1-txt" [text]="bill.amount + ' NOK'"></Label>
              <Label class="h3-txt" [text]="getBillDeadlineText(bill)"></Label>
            </StackLayout>
            <FlexboxLayout class="Pay-Bill-Btn" (tap)="payBill(bill)" alignItems="center" justifyContent="center">
              <Label class="h2-txt" text="Pay"></Label>
            </FlexboxLayout>
          </FlexboxLayout>
        </CardView>
      </ng-template>
    </ListView>

    <Loading *ngIf="isLoading"></Loading>
  </GridLayout>
</GridLayout>