<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Bills" horizontalAlignment="center"></Label>
  <ActionItem (tap)="newBillScreen()" text="Add" ios.systemIcon="4" ios.position="right" android.position="popup"></ActionItem>
</ActionBar>

<GridLayout>
  <ListView [items]="bills" class="list-group" separatorColor="white">
    <ng-template let-bill="item" let-i="index" let-odd="odd" let-even="even">
      <GridLayout [class]="bill.colorClass + ' bill-tile'" columns="2*, *" rows="2*, *" (tap)="editBill(bill.id)">
        <Label [text]="bill.name" col="0" row="0" class="bill-name" ></Label>
        <Label [text]="bill.amount + ' NOK'" col="1" row="0" class="bill-amount" ></Label>
        <GridLayout class="avtale-row" colspan="2" row="1" col="0" columns="*, *" rows="*" >
          <Label text="Is Avtale: " col="0" row="0" class="avtale-text" horizontalAlignment="right"></Label>
          <Label [text]="bill.isAvtale ? '&#xf0fe;': '&#xf2d3;'" col="1" row="0" class="avtale-icon" horizontalAlignment="left"></Label>
        </GridLayout>
      </GridLayout>
    </ng-template>
  </ListView>
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>