// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here
.homepage-container {
  background-color: $background2;
}

.action-bar {
  background-color: $foreground2;
}

.action-item-right {
  color: white;
  padding: 12;
  margin: 0 16;
  font-size: 18;
  vertical-align: right;
}