.transactions-list {
  background-color: #f1f5f8;
}

.transactions-list .transactions-list-header {
  font-size: 12;
  color: #3d4852;
  margin-bottom: 5;
}

.transactions-list .transactions-list-item {
  background-color: #ffffff;
  border-radius: 5;
  border-color: #f1f5f8;
  border-width: 1;
  padding-left: 15;
  padding-right: 15;
  padding-top: 5;
  padding-bottom: 5;
  margin-bottom: 10;
}

.transactions-list .transactions-list-item .badge {
  border-radius: 50%;
  margin-right: 10;
  vertical-align: middle;
  text-align: center;
}

.transactions-list .transactions-list-item .badge .icon {
  color: #ffffff;
}




.badge.subscriptions {
  color: white;
  background-color: #058E3F;
}
.badge.travel {
  color: white;
  background-color: #593C8F;
}
.badge.commute {
  color: white;
  background-color: #8EF9F3;
}
.badge.coffee {
  color: white;
  background-color: #685044;
}
.badge.grocery-shopping {
  color: white;
  background-color: #B6174B;
}
.badge.rent {
  color: white;
  background-color: #FF8E72;
}
.badge.alcohol {
  color: white;
  background-color: #38c172;
}
.badge.hotel {
  color: white;
  background-color: #DBD56E;
}
.badge.restaurant {
  color: white;
  background-color: #1B998B;
}
.badge.clothes {
  color: white;
  background-color: #464F51;
}
.badge.shoes {
  color: white;
  background-color: #E3D081;
}
.badge.others {
  color: white;
  background-color: #242F40;
}
.badge.hobby {
  color: white;
  background-color: #63A088;
}
.badge.entertainment {
  color: white;
  background-color: #7EA8BE;
}
.badge.home {
  color: white;
  background-color: #C6AC8F;
}
.badge.events {
  color: white;
  background-color: #F25757;
}


.transactions-list .transactions-list-item .title {
  font-size: 14;
  color: #3d4852;
}

.transactions-list .transactions-list-item .category {
  font-size: 12;
  color: #b8c2cc;
}

.transactions-list .transactions-list-item .ammount {
  font-size: 14;
  vertical-align: middle;
}

.transactions-list .transactions-list-item .ammount .quantity.red {
  color: #e3342f;
}

.transactions-list .transactions-list-item .ammount .quantity.green {
  color: #38c172;
}

.transactions-list .transactions-list-item .ammount .icon {
  color: #b8c2cc;
  font-size: 12;
}
