<GridLayout class="page page-content home-page-content" [rows]="_isProcessing ? '*' : '160 80 *'">
  <GridLayout row="0" rows="50 *" [class]="'balance-wrapper ' + budgetStatus['status']" *ngIf="!_isProcessing">
    <GridLayout row="0" columns="* * *" class="info-wrapper">
      <Label col="1" text="Daily Budget" class="daily-budget-title"></Label>
      <StackLayout col="2" class="unpaidbill-alert" orientation="horizontal" horizontalAlignment="right"
        *ngIf="unpaidBills > 0" (tap)="navigateWithParams('/bills/list', 'pendingBills')">
        <Label text="&#xeacf;" class="icon animate-wiggle"></Label>
        <Label [text]="unpaidBills" class="icon bill-nr"></Label>
      </StackLayout>
    </GridLayout>
    <StackLayout row="1" horizontalAlignment="center" class="balance-elements">
      <Label class="daily-balance-date" [text]="currentDayMonth"></Label>
      <Label class="daily-balance" [text]="dailyBudget"></Label>
    </StackLayout>
  </GridLayout>

  <FlexboxLayout  row="1" class="balance-summary" flexDirection="row" alignItems="center" justifyContent="space-around" *ngIf="!_isProcessing">
    <CardView class="BalanceCard" shadowColor="#41E94B" shadowRadius="8" shadowOpacity="0.4" elevation="5"
      radius="5">
      <FlexboxLayout class="CashFlowStats" flexDirection="row" alignItems="center" justifyContent="space-between"
        backgroundColor="#41E94B">
        <StackLayout width="70%">
          <Label class="Income-Summary-Nr" [text]="totalEarned"></Label>
          <Label class="summary-title" text="Gross Income"></Label>
        </StackLayout>
        <Label text="&#xe961;" class="icon stats-item-icon"></Label>
      </FlexboxLayout>
    </CardView>
    <CardView class="BalanceCard" shadowColor="#FF3378" shadowRadius="8" shadowOpacity="0.4" elevation="5" radius="5"
    (tap)="navigate('/expense/details')">
      <FlexboxLayout class="CashFlowStats" flexDirection="row" alignItems="center" justifyContent="space-between"
        backgroundColor="#FF3378">
        <StackLayout width="70%">
          <Label class="Expense-Summary-Nr" [text]="'-'+ expensesOnBalance"></Label>
          <Label class="summary-title" text="Expenses"></Label>
        </StackLayout>
        <Label text="&#xefcf;" class="icon stats-item-icon"></Label>
      </FlexboxLayout>
    </CardView>
  </FlexboxLayout>
  
  <PullToRefresh row="2" (refresh)="refreshList($event)" *ngIf="!_isProcessing">
    <ScrollView>
      <StackLayout class="ScrollContent">
        <CardView class="StatsCard" shadowColor="#f1f5f8" shadowRadius="1" shadowOpacity="1" elevation="5" radius="5">
          <FlexboxLayout class="Stats-Content" flexDirection="column" alignItems="flex-start" justifyContent="space-around">
            <Label class="Stats-Card-Title" text="You spent:"></Label>
            <StackLayout>
              <Label [class]="spentMoreThanLastMonth ? 'Stats-Nr-UnderBudget':'Stats-Nr-OverBudget'" [text]="balanceWithLastMonth"></Label>
              <Label class="Stats-Card-Title" [text]="spentMoreThanLastMonth ? 'more than last month':'less than last month'"></Label>
            </StackLayout>
            <StackLayout class="Goal--Progress">
              <Progress (loaded)="onLastMonthExpensesLoaded($event)" class="ProgressBar PreviousMonthProgress">
              </Progress>
              <Progress (loaded)="onExpensesLoaded($event)"
              [class]="spentMoreThanLastMonth ? 'ProgressBar Underbudget' : 'ProgressBar Overbudget'"
              >
              </Progress>
            </StackLayout>
          </FlexboxLayout>
        </CardView>

        <CardView class="StatsCard" shadowColor="#f1f5f8" shadowRadius="1" shadowOpacity="1" elevation="5" radius="5" height="80">
          <GridLayout rows="* *" class="Stats-Content">
            <FlexboxLayout row="0" flexDirection="row" alignItems="center" justifyContent="space-between">
              <Label class="Stats-Card-Title" text="Savings Goal"></Label>
              <Label class="Stats-Nr-OverBudget" [text]="maintainedSavings"></Label>
            </FlexboxLayout>
            <StackLayout row="1" class="Goal--Progress">
              <Progress (loaded)="onSavingsLoaded($event)" class="ProgressBar Overbudget">
              </Progress>
            </StackLayout>
          </GridLayout>
        </CardView>

        <Label class="devider" text="Recent Transactions"></Label>
        <StackLayout>
          <app-transactions-list [transactions]="transactions"></app-transactions-list>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </PullToRefresh>

  <Loading *ngIf="_isProcessing"></Loading>
</GridLayout>
