@import 'home.component.scss';

.page {
    /*background-image: url("~/images/bg.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center-text {
  text-align: center;
}

/* Home TOP Tile Design */

.icon-small {
  font-size: 25;
  color: $finu-primary-dark;
}
.hometile-icon {
  font-size: 50;
}


/* Home Top Tile Desing */

.progressbar {
  height: 20;
  margin: 5;
  border-radius: 10;
  background: $background2;
}

.progress-footnote, .progressbar-inner-text {
  font-size: 12;
  margin-left: 10;
}

.progressbar-value-spent {
  background: $sunset-orange;
}
.progressbar-value-earned {
  background: $zomp;
}
.progressbar-value-budget {
  background: $green-sheen;
}

.progressbar-inner-text, .icon {
  color: $background2;
}
.progressbar-text, .progress-footnote, .footer-date  {
  color: $finu-primary-dark;
}

.action-icon {
  font-size: 30;
  color: $zomp;
}

.footer-date {
  text-align: center;
}

.number {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/***** CARDVIEW ****/
.title {
  font-size: 25;
  margin: 4;
}

.size12 {
  font-size: 12;
}
.size16 {
  font-size: 16;
  margin: 2;
}
.size20 {
  font-size: 20;
  margin: 2;
}

.tileCard {
  background-color: $foreground2;
}

.tileCard, .title {
  color: $background1;
}

.logo {
  font-weight: bold;
  margin-left: 30%;
}