@import 'home.component.scss';

.page {
    /*background-image: url("~/images/bg.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center-text {
  text-align: center;
}

/* Home TOP Tile Design */

.icon-small {
  font-size: 25;
  color: $finu-primary-dark;
}
.hometile-icon {
  font-size: 50;
}


/* Home Top Tile Desing */

.progressbar {
  height: 18;
  margin: 5;
  border-radius: 2;
  background: $background2;
}

.progress-footnote, .progressbar-inner-text {
  font-size: 12;
  margin-left: 5;
}

.progressbar-value-spent {
  background: $sunset-orange;
}
.progressbar-value-earned {
  background: $zomp;
}
.progressbar-value-budget {
  background: $green-sheen;
}

.progressbar-inner-text, .icon {
  color: $background2;
}
.progressbar-text, .progress-footnote, .footer-date  {
  color: $finu-primary-dark;
}

.overbudget-note {
  margin-bottom: 5;
  margin-top: -10;
}

.action-icon {
  font-size: 30;
  color: $zomp;
}

.footer-date {
  text-align: center;
}

.number {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/***** CARDVIEW ****/
.title {
  font-size: 25;
  margin: 4;
}

.size12 {
  font-size: 12;
}
.size16 {
  font-size: 16;
  margin: 2;
}
.size20 {
  font-size: 20;
  margin: 2;
}

.tile {
  border-radius: 3;
}

.tile-excellent {
  background: linear-gradient(-30deg, #2D936C, #79BAA1,);
  color: white;
}

.tile-verygood {
  background: linear-gradient(-30deg, #067BC2, #60ABD8);
  color: white;
}
.tile-good {
  background: linear-gradient(-30deg, #006E90, #73AFC2);
  color: white;
}
.tile-moderate {
  background: linear-gradient(-30deg, #686F77, #BBC4CD);
  color: white;
}
.tile-tight {
  background: linear-gradient(-30deg, #F77F00, #FAB973);
  color: white;
}
.tile-broke {
  background: linear-gradient(-30deg, #FF3E41, #FF8486);
  color: white;
}

.logo {
  font-weight: bold;
  margin-left: 30%;
}